/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* To ensure elements are stacked vertically */
  min-height: 100vh; /* Full height of the viewport */
  padding: 2rem;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.card {
  width: 100%;
  --border-radius: 0.75rem;
  --primary-color: #69a5ff;
  --secondary-color: #3c3852;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  background: #f4f9ff;
  position: relative;
  margin: 1rem 0;
  border: none;
  border-radius: var(--border-radius);
  color: #010101;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.upvote-container {
  display: flex;
  justify-content: space-between;
}

.form-box {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background: #f4f9ff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

svg:hover {
  transform: scale(1.1) rotate(-10deg);
}

.container input:checked~svg {
  fill: #2196F3;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container input:checked~svg {
  fill: rgb(185, 51, 51);
}
