<app-navbar></app-navbar>
<main role="main" class="container mt-5">
  <div class="container">
    <div class="text-center mt-5">
      <div *ngIf="!loading && user.name">
        <h1 class="titlePage">Profile</h1>

        <div class="profile-container">
        <div class="form-box">
          <form class="form" (ngSubmit)="updateProfile()" #f="ngForm" novalidate>
            <span class="title">Update username</span>
            <span class="subtitle">Email: {{ user.email }}</span>
            <div class="form-container">
              <input type="text" class="input" id="name" [(ngModel)]="user.name" name="name" required>
            </div>
            <span class="text-danger" *ngIf="errorMessage">
              {{ errorMessage }}
            </span>
            <div class="form-group">
              <div class="text-center" *ngIf="loading">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="loading">Update</button>
            </div>
          </form>
        </div>
      </div>

        <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
        <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
      </div>
      <!-- community.component.html -->


      <!-- Add a line here -->
      <hr class="section-divider">

      <h1 class="titlePage">Community</h1>
      <div class="questions-container">
        <div *ngFor="let user of users" class="card">
          <h3 class="card__title">{{ user.name }}</h3>
          <div class="card__date">{{ user.joinedOn | date }}</div>
        </div>
      </div>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>

    </div>
  </div>
</main>