<app-navbar></app-navbar>
<main role="main" class="container mt-5">
  <div class="container">
    <div class="text-center mt-5">
      <div *ngIf="!loading && user.name">
        <h1>Profile</h1>
        <p>Email: {{ user.email }}</p>

        <h3>Update Profile</h3>
        <form (ngSubmit)="updateProfile()">
          <label for="name">Username:</label>
          <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
          <button type="submit">Update</button>
        </form>

        <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
        <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
      </div>
      <!-- community.component.html -->

      <div *ngFor="let user of users">
        <h1>Community</h1>
        <h3>{{ user.name }}</h3>
        <p>About: {{ user.about }}</p>
        <p>Tags: {{ user.tags.join(', ') }}</p>
        <p>Joined On: {{ user.joinedOn | date }}</p>
        <hr>
      </div>

      <div *ngIf="errorMessage">{{ errorMessage }}</div>

    </div>
  </div>
</main>