<app-navbar></app-navbar>

<div class="form-container">
  <a href="#" class="btn-shine">Create a New Question</a>
  
  <form class="form" (submit)="submitQuestion()">
    <div class="form-group">
      <div class="input-form">
        <input type="text" class="input" id="questionTitle" [(ngModel)]="questionTitle" name="questionTitle" required>
        <label class="textUser" for="questionTitle">Question Title</label>
      </div>
    </div>
    <div class="form-group">
      <div class="input-form">
        <textarea class="input" id="questionBody" rows="5" [(ngModel)]="questionBody" name="questionBody" required></textarea>
        <label class="textUser" for="questionBody">Question Body</label>
      </div>
    </div>
    <button type="submit" class="form-submit-btn">Submit
      <span></span>
    </button>
  </form>
</div>
