<app-navbar></app-navbar>

<div class="flex flex-col items-center justify-center">
  <div class="group">
    <button class="button" (click)="createQuestion()">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
        </svg> Create
      </span>
    </button>
  </div>
</div>

<div class="questions-container">
  <div *ngFor="let question of questions" class="card">
    <h3 class="card__title" (click)="viewQuestionDetail(question._id)">{{ question.questionTitle }} </h3>
    <div class="card__date" (click)="viewQuestionDetail(question._id)">{{ question.askedOn | date: 'MMMM d, yyyy' }}
    </div>
    <div class="card-buttons">
      <!-- Existing Delete Button -->
      <!-- Updated Delete Button -->
      <button class="bin-button" (click)="deleteQuestion(question._id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 39 7" class="bin-top">
          <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
          <line stroke-width="3" stroke="white" y2="1.5" x2="26.0357" y1="1.5" x1="12"></line>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 33 39" class="bin-bottom">
          <mask fill="white" id="path-1-inside-1_8_19">
            <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"></path>
          </mask>
          <path mask="url(#path-1-inside-1_8_19)" fill="white"
            d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z">
          </path>
          <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
          <path stroke-width="4" stroke="white" d="M21 6V29"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 89 80" class="garbage">
          <path fill="white"
            d="M20.5 10.5L37.5 15.5L42.5 11.5L51.5 12.5L68.75 0L72 11.5L79.5 12.5H88.5L87 22L68.75 31.5L75.5066 25L86 26L87 35.5L77.5 48L70.5 49.5L80 50L77.5 71.5L63.5 58.5L53.5 68.5L65.5 70.5L45.5 73L35.5 79.5L28 67L16 63L12 51.5L0 48L16 25L22.5 17L20.5 10.5Z">
          </path>
        </svg>
      </button>
    </div>
    <div class="card__arrow" (click)="viewQuestionDetail(question._id)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
        <path fill="#fff"
          d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
        </path>
      </svg>
    </div>
  </div>
</div>