/* Container */
.container {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%2Fimages%3Fk%3Dgray%2Bdot%2Bbackground&psig=AOvVaw2H0_s3HbbxESI03H6D282R&ust=1716216161963000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMiqpMf5mYYDFQAAAAAdAAAAABAa');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
